:root {
    --purple: rgb(129, 19, 129);
}

/*-- header --*/
header {
    display:flex;
    justify-content: space-between;
    padding: 5px;
}

main {
    display: block;
}

.scores {
    text-decoration: none;
    color: var(--purple);
    font-weight: bold;
    font-family: sans-serif;
}

/*-- start page --*/
#start-page {
    text-align: center;
    padding: 25px;
}

h1 {
    font-size: 200%;
    font-weight: bold;
    padding: 15px;
    font-family: sans-serif;
}

.para {
    width: 540px;
    margin: auto;
    padding: 15px;
    font-family: sans-serif;
    font-weight: bold;
}

.startBtn {
    background-color: var(--purple);
    color: white;
    border-radius: 5px;
    padding: 4px;
    cursor: pointer;
}

/*-- hide elements --*/
.hide {
    display: none;
}


/*-- questions and answers --*/
#questions {
    text-align: center;
    padding: 25px;
}

#questions-title {
    font-size: 140%;
    font-weight: bold;
    padding: 15px;
    font-family: sans-serif;
}

#options {
    margin:auto;
    width: 500px;
}

#options button {
    display: block;
    margin:3px;
    background-color: var(--purple);
    color: white;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}


/*-- feedback for correct or incorrect answer --*/
#feedback {
    text-align: center;
    font-weight: bolder;
    font-size: 120%;
}

/*-- end page with initials box --*/
#end-page {
    margin: auto;
    padding: 25px;
    width: 500px;
}

h2 {
    font-size: 230%;
    font-size: bolder;
    padding: 15px 0px 15px 0px;
    font-family: sans-serif;
}

.end-score {
    padding: 5px 0px 5px 0px;
    font-size: 140%;
}

.init {
    padding: 5px 0px 5px 0px;
    font-size: 140%;
}

#submit {
    margin:3px;
    background-color: var(--purple);
    color: white;
    border-radius: 5px;
    padding: 3px;
    cursor: pointer;
}

/*-- high scores page --*/
.hscores {
    text-align: center;
    padding: 25px;
}

.leadertitle {
    font-size: 230%;
    font-size: bolder;
    padding: 15px 0px 15px 0px;
    font-family: sans-serif;
}

.leaderb {
    font-size: 140%;
}

.go-back {
    margin:3px;
    background-color: var(--purple);
    color: white;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

#clear {
    margin:3px;
    background-color: var(--purple);
    color: white;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}